* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  letter-spacing: 1px;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #2a2a2a;
}

body ul {
  margin: 0;
  list-style: none;
}

body li {
  list-style: none;
}

body a {
  text-decoration: none;
  color: #fff;
}

body button {
  background: none;
  border: none;
  outline: 0;
}

/* ================HOME================= */
.home-content {
  height: 100vh;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-line {
  margin-bottom: 5px;
}

.front-end {
  margin-top: 5px;
  font-size: 1.2em;
}

.line {
  border: 1px solid lightgrey;
  width: 30%;
  margin: 5px auto;
}

.reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
  margin: 0 auto;
}

.reference a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.view_work {
  font-size: 18px;
  margin: 2em 0;
  color: #9fa1a0;
}

.view_work:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #82cbd6;
  -webkit-transition: .5s;
  transition: .5s;
}

.fa-arrow-right {
  margin: 0 .5em;
}

.nav-wrapper {
  height: 0;
}

.nav-button {
  color: whitesmoke;
  z-index: 2;
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
}

.dropdown {
  height: 100vh;
  background-color: #2a2a2a;
  z-index: 1;
  color: #fff;
  -webkit-animation: growDown .5s ease-in-out forwards;
          animation: growDown .5s ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.dropdown li a {
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* opacity: 0; */
}

.dropdown li a:hover {
  color: #82cbd6;
}

.dropdown ul {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.dropdown li {
  margin: 5em 0;
}

/* ================ABOUT================= */
.about_wrapper {
  top: 10%;
  color: #000;
  padding: 0 10px;
  margin: 7em 20px 0 20px;
}

.about_description {
  font-size: 1.3em;
  line-height: 1.7em;
  word-spacing: .02em;
  width: 50%;
  max-width: 550px;
  min-width: 300px;
  margin: 2em auto;
  font-weight: 400;
}

.about_wrapper h2,
.project-wrapper h2,
.contact-container h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #cacaca;
  text-align: center;
}

.about_wrapper p {
  color: #8a8a8a;
}

.about_section,
.skill_section,
.contact-container {
  margin: 6em 0;
}

.skill_logo {
  text-align: center;
  max-width: 100px;
  max-height: 85px;
  margin: 0.75em 1em;
}

.skill_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em auto;
  padding: 0;
}

.skill_section ul li {
  margin: 0 20px;
}

.skill_section ul p {
  font-size: 1.2em;
  text-align: center;
}

/* ================PROJECT================= */
.project-wrapper {
  text-align: center;
  margin-top: 6em;
}

.project {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  border-radius: 7px;
}

.project-description {
  width: 100%;
  background-color: lightgrey;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.46);
          box-shadow: 10px 10px 12px 1px rgba(0, 0, 0, 0.46);
}

.project-description h3 {
  margin: 0;
  padding: .5em;
}

.netflix-project,
.covid-project,
.pokedex-project,
.wiki-project,
.quote-generator-project {
  margin: 2em;
}

.project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  padding-bottom: .5em;
}

.project-buttons a {
  background-color: #3c489c;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.project-buttons a:hover {
  background-color: #59a4cf;
}

.project-description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 1em;
  margin-bottom: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-description ul li {
  text-transform: uppercase;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  font-size: .75em;
  color: #404040;
}

/* ================CONTACT================= */
.contact-container li {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  margin: 0 .5em;
}

@media screen and (min-width: 600px) {
  .about_description {
    text-align: center;
    max-width: 70%;
  }
  .text {
    font-size: 1.5em;
  }
  .contact-container ul {
    width: 400px;
    margin: 5em auto;
  }
  .project-wrapper h2,
  .contact-container h2 {
    font-size: 4em;
  }
  .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .line {
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */